.pic {
    max-width: 300px;
    height: 200px;
    margin: 20px;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}


#container {
    display: flex;
    justify-content: center;
    z-index: 1
}

#text {
	font-size: 50px;
}

#year {
	font-size: 45px;
	font-family: 'Montserrat Alternates', sans-serif;
}

h2 {
	color: white;
	font-family: Sofia;
	margin: 10px;
}

#title-container, #top, #bottom, #text, #year {
	display: flex;
	justify-content: center;
}

body {
	background-image: url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png');
}

#bottom {
	margin: 20px;
}

